.containerDashboar {
    padding: 0rem 2rem;
    &__title {
        font-size: 34px;
        color: #197525;
    }
    &__contentCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
